.name{
    text-transform: uppercase;
    font-weight: bold;
}
div:not(.url) h3::first-letter{
    text-transform: capitalize;
}

.url::before{
    content: '------------------------------------------------------------------';
}